WorkManager_A/.vs/WorkManager_A/FileContentIndex/*
*.cache
WorkManager_A/obj/*
WorkManager_A/bin/*
WorkManager_A/Properties/PublishProfiles/FolderProfile.pubxml
WorkManager_A/Properties/PublishProfiles/FolderProfile.pubxml.user
