WorkManager/.vs/WorkManager/FileContentIndex/*
*.cache
WorkManager/obj/*
WorkManager/bin/*
WorkManager/Properties/PublishProfiles/FolderProfile.pubxml
WorkManager/Properties/PublishProfiles/FolderProfile.pubxml.user
WorkManager/.vs/WorkManager/v17/.futdcache.v2
WorkManager/.vs/ProjectEvaluation/workmanager.metadata.v6.1
WorkManager/.vs/ProjectEvaluation/workmanager.projects.v6.1
WorkManager/.vs/WorkManager/DesignTimeBuild/.dtbcache.v2
