WorkManager_A/.vs/WorkManager_A/FileContentIndex/*
*.cache
WorkManager_A/obj/*
WorkManager_A/bin/Debug/net6.0-windows/*.*
WorkManager_A/bin/Release/*
WorkManager_A/Properties/PublishProfiles/FolderProfile.pubxml
WorkManager_A/Properties/PublishProfiles/FolderProfile.pubxml.user
